body {display: contents; font-family: "Roboto", sans-serif;}
.main-header {
    background-color: hsl(13, 68%, 63%);
    height: 10vh;
    display: flex;
    align-items: center;
}

.main-header img {
    max-height: 10vh;
}

nav {
    margin-inline-start: auto;
}
li {
    list-style-type: none;
}

p {
    margin-inline: 2rem;
    text-align: center;
}

.navbar {
    display: flex;
}

.nav-item a {
    text-decoration: none;
    font-size: 1.3rem;
    padding: 0.5em;
    margin-right: 1em;
    background-color: hsl(52, 50%, 91%);
    color: black;
}

.nav-item a:hover {
    background-color: hsl(13, 68%, 63%);
}

.nav-item form * {
    background-color: hsl(52, 50%, 91%);
    font-size: 1.3rem;
    border: none;
    padding: 0.5em;
    margin-right: 1em;
}

.nav-item *+*  {
    margin-left: -1em;
}

.featured-item {
    height: 90vh;
    width: auto;
    background-image: url(/images/featuredfilm.jpg);
    background-size: cover;
    display: flex;
    align-items: flex-end;
    font-family: "Merrieweather", serif;
    font-size: 3rem;
}
.featured-item div {background-color: hsl(0, 0%, 0%, 10%); color: white;}

#main-content {
    display: grid;
    grid-template-columns: repeat(2, minmax(250px, 1fr));
    justify-items: center;
    column-gap: 2rem;
    margin-inline: 2rem;
}

.griditem {
    height: auto;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    font-size: 2rem;
    align-items: center;
}

.griditem img {
    max-width: 100%;
}


#topgrid {
    grid-column: span 2;
    background-color:hsl(13, 68%, 63%);
}

@media (max-width: 1000px) {
    #main-content {
        grid-template-columns: minmax(250px, 1fr);
    }
    #topgrid {
        grid-column: span 1;
    }
    .main-header img {
        display: none;
    }
    nav {
        margin-inline: auto;
    }
}
    
